@font-face {
  font-family: 'Press Start 2P';
  src: url('./Press_Start_2P/PressStart2P-Regular.ttf');
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  font-family: 'Press Start 2P';
  margin-left: 12px;
}

.title__header {
  padding-top: 24px;
  padding-left: 12px;
}

.title__header a {
  color: #72b8db;
  font-size: 35px;
  font-weight: bold;
}

nav .menu {
  margin-right: 12px;
  margin-top: 12px;
  display: flex;
  justify-content: space-around;
}

nav .menu li {
  padding: 20px;
}

nav .menu li:hover {
  border-radius: 40%;
  background-color: rgb(245, 219, 71);
}

footer {
  width: 100%;
  padding: auto;
  margin-left: 24px;
  margin-right: 24px;
}

footer .author {
  margin-left: 20%;
  display: flex;
  justify-content: space-around;
}

.author .name {
  font-size: 17px;
  font-weight: bold;
  color: lightgray;
}

.author .email {
  font-size: 17px;
  color: lightgray;
}
