@font-face {
  font-family: 'Press Start 2P';
  src: url('./Press_Start_2P/PressStart2P-Regular.ttf');
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  font-family: 'Press Start 2P';
}

.title__header {
  padding-top: 36px;
  padding-left: 4%;
}

.title__header a {
  color: #72b8db;
  font-size: 2rem;
  font-weight: bold;
}

nav .menu {
  margin-right: 15%;
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
}

nav .menu li {
  padding: 20px;
}

nav .menu li:hover {
  border-radius: 40%;
  background-color: rgb(245, 219, 71);
}

main {
  height: 800px;
}

footer {
  border-top: 1px solid lightblue;
  width: 100%;
  padding-top: 3%;
}

footer .author {
  display: flex;
  padding-bottom: 3%;
}

.author .name {
  font-size: 17px;
  font-weight: bold;
  color: lightgray;
  padding-left: 40%;
  padding-right: 5%;
}

.author .email {
  font-size: 17px;
  color: lightgray;
}
